<h1>Add a new contact</h1>

<%= form_for(@user) do |f| %>
    <%= f.label :Vorname %>
    <%= f.text_field :firstname %>
    
    <%= f.label :Nachname %>
    <%= f.text_field :lastname %>
    
    <%= f.label :Geburtstag %>
    <%= f.date_field :birthday %>
    
    <%= f.label :Email %>
    <%= f.email_field :email %>
    
    <%= f.submit "Save Changes", class:"btn" %>
<% end %>
    
