<h1>fruehstarter Newsletter</h1>

<table>
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Geburtstag</th>
        <th>Email</th>
    </tr>
    
    <% @sortedUsers.each do |user| %>
        <tr>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.birthday.mday %>.<%= user.birthday.mon %>.<%= user.birthday.year %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Edit", edit_user_path(user) %></td>
            <td><%= link_to "Delete", user, method: :delete %></td>
            <td><%= link_to "Send Mail", user %></td>
        </tr>
    <% end %>
    
    <%= form_for(@user) do |f| %>
        <tr>
            <td><%= f.text_field :firstname %></td>
            <td><%= f.text_field :lastname %></td>
            <td><%= f.date_field :birthday %></td>
            <td><%= f.email_field :email %></td>
            <td><%= f.submit "Add", class:"btn" %></td>
        </tr>
    <% end %>
</table>

